﻿@model IEnumerable<MODELO.sp_listaAlumnos_Result>

@{
    ViewBag.Title = "ListaAlumnos";
}

<h2>ListaAlumnos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div><a href="@Url.Action("ExportReport")" class="btn btn-primary"> Generar Reporte</a></div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdSexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdProfesion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdPais)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdSexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdProfesion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdPais)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
